<div class="navbar-wagon">
  <%= link_to "Home", cocktails_path, class:"navbar-wagon-brand" %>

  <div class="navbar-wagon-right navbar-wagon-item">
    <%= link_to 'Create a cocktail', new_cocktail_path %>
  </div>
</div>



